<!DOCTYPE html>

{% load staticfiles %}

<html>

  <head>
      <title>Rango</title>
  </head>

  <body>
    <h1>Rango says...</h1>
    <div>
      <strong>{{ aboutmessage }}</strong><br/>
      <text> This tutorial has been put together by Kyrie </text>
    </div>

    <div>
      <a href="/rango/">Index</a><br/>
      <img src="{% static "images/rango2.jpg" %}" alt="Picture of Rango saying about that..." />
      <img src="{{MEDIA_URL}}cat.jpg" alt="Picture of a silly cat"
    </div>
  </body>

</html>
